<style>

        

        body {
            line-height:1;
        }

        #page-wrapper {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;            
        }

          
        
    /* nav */
        
        #nav {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 1.5em 160px 1.5em 160px;  /* 위 오른 아래 왼 각각의 패딩값 설정 */
            z-index: 1;
            overflow: hidden;
        }

        #nav > ul {
            line-height: 0px;
            display: inline-block;
            margin: 0;
            
        }
      
        #nav > .navtab > li {
            display: inline;
            margin: 36px;
            text-decoration:none;         
            border-radius: 0.5em;
            padding: 0.85em;
            border: solid 1px transparent;
            -moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
			-webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
            -ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
            transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
        }

    /* Banner */ 
        #banner {
            margin-top: 265px;
            margin-bottom: 265px;
        }    

        .logo {
            float: right;
        }

        #stack {
            color: #42446E;
            text-align: center;
            font-family: Poppins;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 54.167% */
            margin-bottom: 155px;
        }
        
        #projects > .card {
            display: flex;
        }

        .coldegg {
            margin: 0 40px;
        }

        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #666;
            line-height: 1.6;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        .contact-info {
            margin-top: 200px;
        }
        .contact-info ul {
            display: flex;
            justify-content: right;
        }
        .contact-info li {
            margin-right: 20px;
        }
        .contact-info li:last-child {
            margin-right: 0;
        }
        .contact-info a {
            color: #13121d;
            text-decoration: none;
        }
        linearGradient
    </style>